<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASlaGjG3FoZaJQ5YXWn1YAMf8Btfh7Q54</string>
	<key>GCM_SENDER_ID</key>
	<string>1003151957712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.jobhuntMobile.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>jobhunt-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>jobhunt-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003151957712:ios:b7c8eb8f9f6582a3ec48d5</string>
</dict>
</plist>